@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply transition-all duration-300;
  }
  body {
    @apply tracking-m  text-body-m sm:text-body-d select-none font-medium;

    user-drag: none;
    -webkit-user-drag: none;
  }
  img {
    @apply select-none;
    user-drag: none;
    -webkit-user-drag: none;
  }
  h1 {
    @apply font-bold sm:text-h1-d text-h1-m;
  }
  h2 {
    @apply font-bold sm:text-h2-d text-h2-m;
  }
  h3 {
    @apply font-bold sm:text-h3-d text-h3-m;
  }
  h4 {
    @apply font-bold sm:text-h4-d text-h4-m;
  }
  h5 {
    @apply font-bold sm:text-h5-d text-h5-m;
  }
}

.highlight {
  @apply font-bold sm:text-height-d text-height-m;
}
